:root {
    scroll-behavior: smooth;
    --white: #fff;
    --btn-pink: #EC008C;
    --blue-hover: #06377B;
    --color-blue: #06377B;
}

body {

    background: #e9f2f8;
    color: #444444;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    line-height: 1;
    font-weight: 400;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

a {
    cursor: pointer;
}

/* start top section */
.top-section {
    background-color: #06377B;
    padding: 15px;

    .elementor {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftCard {
            .userDetails {
                display: flex;
                gap: 15px;

                a {
                    color: var(--white);
                    font-size: 15px;
                    font-weight: 400;
                    font-family: "Nunito Sans", Sans-serif;

                    &:hover {
                        color: #EC008C;
                    }
                }
            }
        }

        .rightCard {
            .socail-media {
                display: flex;
                gap: 10px;

                a {
                    background: transparent;
                    text-align: center;
                    font-family: "Nunito Sans", Sans-serif;
                    border-radius: 2px;

                    &:hover {
                        background-color: #EC008C;
                    }

                    i {
                        font-size: 14px;
                        color: var(--white);
                        padding: 5px;
                    }
                }
            }
        }
    }
}

/* edn top section */
.btnPink {
    background-color: var(--btn-pink);

    &:hover {
        background-color: var(--blue-hover);
    }
}

.btn {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 1px;
    background-color: #EC008C;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 30px;
    border: none;
}

.header {
    .nav-item {
        a {
            color: var(--color-blue);
            font-family: "Nunito Sans", Sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            &.active{
                color: var(--btn-pink);
            }
        }
    }
}
.carousel-item{
    position: relative;
    img{
        height: 620px;
        max-height: 620;
    }
}
.carousel-control-prev-icon{
    color: var(--btn-pink);
}
.cardSection{
    padding: 100px 0;
    p{
        color: #06377B;
    font-family: "Heebo", Sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 53px;
    span{
        font-weight: 600;
    }
    }
}
.customCard{
    img{
        width: 100%;
        height: 270px;
    }
    h2{
        color: #06377B;
    /* font-family: "Heebo", Sans-serif; */
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    }
    p{
        color: #486683;
        font-family: "Nunito Sans", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
    }
    .ReadMore{
        color: var(--btn-pink);
        text-decoration: none;
    }
}
.carousel-control-prev{
    background: #ffffff;
    height: 75px;
    width: 75px;
    opacity: 1;
    border-radius: 50%;
    filter: invert(0) grayscale(0);
    position: absolute;
    top: 50%;
    left: 2%;    
}
.carousel-control-next{
    background: #ffffff;
    height: 75px;
    width: 75px;
    opacity: 1;
    border-radius: 50%;
    filter: invert(0) grayscale(0);
    position: absolute;
    top: 50%;
    right: 2%;  
}
.custom-prev-icon {
    height: 25px;
    width: 25px;
    background-image: url('../image/left-arrow.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .custom-next-icon {
    height: 25px;
    width: 25px;
    opacity: 1;
    border-radius: 50%;
    background-image: url('../image/right-arrow.svg') !important; 
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15sease;
} */