:root {
    scroll-behavior: smooth;
}

body {
    background: #ececec;
    color: #444444;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    line-height: 1;
    font-weight: 400;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

a {
    cursor: pointer;
}

.outersection {
    padding: 90px 15px 0;
    background: #ececec;
}

.rainbowPartner {
    padding: 70px 0;
    margin-bottom: 50px;
    border-radius: 16px;
    background: #ffffff;
}

/* start top section */
.top-section {
    background-color: #06377B;
    padding: 15px;
}

.top-section .elementor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.leftCard .userDetails {
    display: flex;
    gap: 15px;
}

.leftCard .userDetails a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-family: "Nunito Sans", Sans-serif;
}

.leftCard .userDetails a:hover {
    color: #EC008C;
}

.rightCard .socail-media {
    display: flex;
    gap: 10px;
}

.rightCard .socail-media a {
    background: transparent;
    text-align: center;
    font-family: "Nunito Sans", Sans-serif;
    border-radius: 2px;
}

.rightCard .socail-media a:hover {
    background-color: #EC008C;
}

.rightCard .socail-media a i {
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
}

/* edn top section */
.btnPink {
    background-color: #EC008C;

    &:hover {
        background-color: #06377B;
    }
}

.btn {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 1px;
    background-color: #EC008C;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 30px;
    border: none;
}

.header .nav-item a {
    color: #06377B;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
}

.header .nav-item a:active {
    color: #EC008C;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    height: 620px;
    max-height: 620;
}

.carousel-control-prev-icon {
    color: #EC008C;
}

.cardSection {
    padding: 100px 0;
    background-color: #F7FAFB;
}

.cardSection p {
    color: #06377B;
    font-family: "Heebo", Sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 53px;
}


.cardSection p span {
    font-weight: 600;
}

.customCard {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    min-height: 515px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.customCard img {
    width: 100%;
    height: 260px;
}

.customCard h2 {
    color: #06377B;
    /* font-family: "Heebo", Sans-serif; */
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.customCard p {
    color: #486683;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.customCard .ReadMore {
    color: #EC008C;
    text-decoration: none;
}

.carousel-control-prev {
    background: #ffffff;
    height: 75px;
    width: 75px;
    opacity: 1;
    border-radius: 50%;
    filter: invert(0) grayscale(0);
    position: absolute;
    top: 50%;
    left: 2%;
}

.carousel-control-next {
    background: #ffffff;
    height: 75px;
    width: 75px;
    opacity: 1;
    border-radius: 50%;
    filter: invert(0) grayscale(0);
    position: absolute;
    top: 50%;
    right: 2%;
}

.custom-prev-icon {
    height: 25px;
    width: 25px;
    background-image: url('../image/left-arrow.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.custom-next-icon {
    height: 25px;
    width: 25px;
    opacity: 1;
    border-radius: 50%;
    background-image: url('../image/right-arrow.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.cardMove {
    transition: 0.5s;

    &:hover {
        margin-top: -10px;
    }
}

.blueFont {
    color: #06377B;
    font-family: "Heebo", Sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 53px;
}

.blueFont span {
    font-weight: 600;
}

.bottom-text {
    color: #000000;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 53px;
}

.bottom-textS a {
    color: #EC008C !important;
}

.wrapperDetails.drTitle {
    color: #EC008C;
    font-size: 38px;
    font-weight: 600;
    line-height: 53px;
}

.wrapperDetails.textBlue {
    color: #06377B;
    font-size: 34px;
    font-weight: 400;
    line-height: 53px;
}

.colorBlue {
    color: #06377B;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.mr-10 {
    margin-right: 10px;
}

.p-100 {
    padding: 100px 0;
}

.radius-5 {
    border-radius: 5px;
}

/* footer */
/* General Footer Styling */

/* Container for the page content */

/* Footer styling */
footer {
    background-color: #000;
    padding: 70px 0 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    /* Ensure footer stays on top of other content */
}

footer .container {
    color: #333;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Column Settings */
.footer-column {
    color: white;
    padding: 10px;
}

.footer-column h5 {
    margin-bottom: 15px;
}

/* Social Media List */
.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media li {
    display: inline-block;
}

.social-media li a {
    color: #bbb;
    font-size: 16px;
    transition: color 0.3s ease;
}

.social-media li a:hover {
    color: #fff;
}

/* --------------- */
/* Add this to fix the header at the top of the page */
/* Initial header style */
.header {
    position: relative;
    width: 100%;
    background-color: #f8f9fa;
    /* Set a background color */
    transition: top 0.3s;
    /* Optional, for smooth transition */
}

/* Fixed header after scrolling */
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional, for shadow effect */
}

/* heder fixed on scrooll */

.footerTopText {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.footerTopText img {
    width: 75px;
    height: 100%;
}

.footerTopText p {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 0;
}

.footerBottom {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footerBottom p {
    margin-bottom: 15px;
    line-height: 1.5;
    padding-right: 20px;
}

.socialMediaFooter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialMediaFooter a {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EC008C !important;
}

.socialMediaFooter a:hover {
    background-color: #EC008C;
    color: white !important;
}

.socialMediaFooter a i {
    font-size: 18px;
}

.footerLinks p {
    margin-top: 25px;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.listItem {
    list-style-type: none;
    padding-left: 0;
}

.listItem a {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.copyRight {
    text-align: center;
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-top: 40px;
}
.aboutbg {
    background-image: url("assets/image/about-page.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}